<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Vaadin Web Application</display-name>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    
          <!-- all declarations in shiro.ini file -->
<!--          Shiro Environment Listener 
        <listener>
            <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
        </listener>-->
        
        <filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
	</filter>


	<!-- Make sure any request you want accessible to Shiro is filtered. /* 
		catches all -->
	<!-- requests. Usually this filter mapping is defined first (before all 
		others) to -->
	<!-- ensure that Shiro works in subsequent filters in the filter chain: -->
	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
<!-- 		<url-pattern>/shiro/*</url-pattern> -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    
    
    <servlet>
        <servlet-name>TouchKit</servlet-name>
      	<servlet-class>com.ortens.mobileapplication.MobileApplicationServlet</servlet-class>
  	<init-param>
  		<description>
  		Vaadin application class to start</description>
  		<param-name>application</param-name>
  		<param-value>com.ortens.TouchKitApplication</param-value>
  	</init-param>
  	<init-param>
  		<description>Application widgetset</description>
  		<param-name>widgetset</param-name>
  		<param-value>com.ortens.widgetset.TouchKitWidgetset</param-value>
  	</init-param>
    
    
    
<!--    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>com.vaadin.addon.touchkit.server.TouchKitApplicationServlet</servlet-class>
        <init-param>
            <description>Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>com.ortens.MyVaadinApplication</param-value>
        </init-param>
                <init-param>
            <description>Application widgetset</description>
            <param-name>widgetset</param-name>
            <param-value>com.ortens.gwt.AppWidgetSet</param-value>
        </init-param>
    </servlet>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>TouchKit</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

	<!-- Configure these is you need "fallback" application or non supported 
		browsers -->
<!-- 	
	<init-param>
		<description>
			Vaadin fallback application class to start</description>
		<param-name>fallbackApplication</param-name>
		<param-value>com.vornitologist.VornitologistFallbackApplication</param-value>
	</init-param>
	<init-param>
		<description>
			Application widgetset</description>
		<param-name>fallbackWidgetset</param-name>
		<param-value>com.vaadin.terminal.gwt.DefaultWidgetSet</param-value>
	</init-param>
-->  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>   
  
  	<persistence-context-ref>
	    <description>Persistence context for JndiProviders. 
			Unit name should be same as in your persistence.xml</description>
	    <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
	    <persistence-unit-name>pu</persistence-unit-name>
	</persistence-context-ref>
  

  
  
</web-app>